@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

$maincolor: #F0EAD6;
$contrastcolor: #300f4d;

@mixin source {
    color: $contrastcolor;
    background-color: $maincolor;
}

* {
    @include source;
    font-family: 'Ultra', serif;
}


h1 {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 50%;
}

.nav {
    border-radius: 5px;
}

.products {
    margin: 30px auto;
    display: flex;
    width: 1300px;
    flex-wrap: wrap;
    justify-content:space-between;
}

.prdct {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    max-width: 300px;
    margin-bottom: 10px;
    display: flex;
    justify-content:space-between;
    flex-direction:column;
    flex-wrap: wrap
}

.prdct > img {
    max-width: 100px;
}