

@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

$maincolor: #F0EAD6;
$contrastcolor: #300f4d;

@mixin source {
    color: $contrastcolor;
    background-color: $maincolor;
}

* {
    @include source;
    font-family: 'Ultra', serif;
}

main {
    display: flex;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: xxx-large;
}

li {
    list-style: none;
    cursor: pointer;
}
li:hover {
    opacity: 50%;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 50%;
}

.nav {
    display:flex;
    justify-content: space-around;
    align-items: center;
    border:3px solid black;
    padding:8px;
    width: 90%;
    margin:auto;
    border-radius: 30px;
}

.products {
    margin: 30px auto;
    display: flex;
    width: 1300px;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;

}

.prdct {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    max-width: 300px;
    margin-bottom: 10px;
    display: flex;
    justify-content:space-between;
    flex-direction:column;
    flex-wrap: wrap;
    align-items: center;
    
}

.prdct > img {
    max-width: 100px;
}