

@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

$maincolor: black;
$contrastcolor: white;

@mixin source {
    color: $contrastcolor;
    background-color: $maincolor;
}

* {
    @include source;
}
#header {
    font-family: 'Ultra', serif;
    font-size: xxx-large;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Home {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h4 {
        color: gray;
    }
}

h1 {
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
    cursor: pointer;
}
li:hover {
    opacity: 50%;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 50%;
}

.nav {
    display:flex;
    justify-content: space-around;
    align-items: center;
    border:3px solid gray;
    padding:8px;
    width: 90%;
    border-radius: 30px;
}


.products {
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;


    align-items: center;
    justify-content: center;
    max-height: 500px;
    padding: 10px;
    div {
        margin-right: 10px;
        margin-bottom: 20px;
    }
}
.form {
    min-width: 1900px;
    display: flex;
    padding: 20px;
    justify-content: center;
}
.prdct {
    border: 2px solid rgb(49, 44, 44);
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    border-radius: px;
    padding: 5px;
    max-width: 300px;
    margin-bottom: 10px;
    display: flex;
    justify-content:space-between;
    flex-direction:column;
    flex-wrap: wrap;
    align-items: center;
}

.prdct:hover {
    top: -10px;
}

.prdct > img {
    max-width: 100px;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        max-width: 500px;
    }
}